attr==0.3.2
brotli==1.2.0
brotlicffi==1.2.0.1
chardet==7.4.0.post2
ConfigParser==7.2.0
cryptography==46.0.6
docutils==0.22.4
filelock==3.25.2
h2==4.3.0
HTMLParser==0.0.2
ipython==9.12.0
ipywidgets==8.1.8
# jnius==1.1.0
js==1.0
keyring==25.7.0
matplotlib==3.10.8
networkx==3.6.1
numpy==2.4.4
protobuf==7.34.1
# pyodide==0.0.2
# pyOpenSSL==26.0.0
# redis==7.4.0
scipy==1.17.1
# simplejson==3.20.2
# Sphinx==9.1.0
# thread==2.0.6
# typing_extensions==4.15.0
# urllib3_secure_extra==0.1.0
# xmlrpclib==1.0.1
